<footer class="footer">
  <div class="container">
    <span class="text-muted">
      &copy All right Reversed.<a href="#" class="text-green ml-2" target="_blank">sithuaung.org</a>
    </span>
  </div>
</footer>
